.App {
  
}

body {
  background-color: #d3e8e7;
  font-family: 'Kiwi Maru', serif;
}

.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: 'Sigmar', cursive;
}

.main-content {
  background-color: #ede5d8;
}