@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Kiwi Maru', serif;
}

.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.main-content {
}

.font01 {
  font-family: 'Cabin', sans-serif;
}