body {
  background-color: #b1d9e3;
  font-family: 'Kiwi Maru', serif;
}

.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.main-content {
  background-color: #ede5d8;
}

.font01 {
  font-family: 'Cabin', sans-serif;
}